*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 50px;
    background-color: rgb(250, 235, 215,0.3);
    box-shadow: 0px 0px 30px rgb(230, 235, 210);
    align-items: center;
    text-align: center;
    position: relative;
}

.container h1{
    text-align: start;
    padding: 40px;
    font-size: 20px;
}
.container p{
    font-size: 15px;
}
.container b{
    font-size: 16px;
}
.container img{
    width: 200px;
}
.container div{
    text-align: center;
    height: 150px;
}
.container div input{
    width: 50px;
    height: 30px;
    align-content: center;
    background-color: rgba(204, 182, 207, 0.3);
    border: 0;
    box-shadow: 3px 3px 4px;
}